default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # list of supported hooks: https://pre-commit.com/hooks.html
      - id: trailing-whitespace
        require_serial: true
      - id: end-of-file-fixer
        require_serial: true
        # Exclude any .txt or .md files anywhere in the 'tests' directory:
        exclude: ^tests/.*\.(txt|md)$
      # - id: check-docstring-first
      - id: check-yaml
        require_serial: true
      - id: debug-statements
        require_serial: true
      - id: detect-private-key
        require_serial: true
      - id: check-executables-have-shebangs
        require_serial: true
      - id: check-toml
        require_serial: true
      - id: check-case-conflict
        require_serial: true
      - id: check-added-large-files
        require_serial: true

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.1
    hooks:
      # Run the linter.
      - id: ruff
        args: ['--fix']
        require_serial: true
      # Run the formatter.
      - id: ruff-format
        args: []

  # python docstring formatting
  - repo: https://github.com/myint/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter
        args: [--in-place]
        require_serial: true

  # md formatting
  # NOTE: Disabling, since it wants to change the markdown regression files with escaped
  # characters.
  # - repo: https://github.com/executablebooks/mdformat
  #   rev: 0.7.16
  #   hooks:
  #     - id: mdformat
  #       args: ["--number"]
  #       additional_dependencies:
  #         - mdformat-gfm
  #         - mdformat-tables
  #         - mdformat_frontmatter
  #         # - mdformat-toc
  #         # - mdformat-black
  #       require_serial: true

  # word spelling linter
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --skip=logs/**,data/**
          # - --ignore-words-list=abc,def
        require_serial: true
